

//PRIMARY COLOR: #0D304C

$P_TEMPLATE_TEXT:         #fff;
$P_TEMPLATE_BACKGROUND:   #333;
$P_TEMPLATE_HTEXT:        lighten(#0D304C,30%);
$P_TEMPLATE_HBACKGROUND:  #eee;
$P_TEMPLATE_BORDER:       $P_TEMPLATE_HTEXT;



$P_HEADER_TEXT:         $P_TEMPLATE_TEXT        ;
$P_HEADER_BACKGROUND:   #111                    ;
$P_HEADER_HTEXT:        $P_TEMPLATE_HTEXT       ;
$P_HEADER_HBACKGROUND:  $P_TEMPLATE_HBACKGROUND ;
$P_HEADER_BORDER:       $P_TEMPLATE_BORDER      ;

$P_MENU_BACKGROUND:     $P_TEMPLATE_BACKGROUND  ;

$P_BODY_TEXT:           $P_TEMPLATE_TEXT        ;
$P_BODY_BACKGROUND:     $P_TEMPLATE_BACKGROUND  ;
$P_BODY_HTEXT:          $P_TEMPLATE_HTEXT       ;
$P_BODY_HBACKGROUND:    $P_TEMPLATE_HBACKGROUND ;
$P_BODY_BORDER:         $P_TEMPLATE_BORDER      ;

$P_FOOTER_TEXT:         $P_TEMPLATE_TEXT        ;
$P_FOOTER_BACKGROUND:   #111                    ;
$P_FOOTER_HTEXT:        $P_TEMPLATE_HTEXT       ;
$P_FOOTER_HBACKGROUND:  $P_TEMPLATE_HBACKGROUND ;
$P_FOOTER_BORDER:       $P_TEMPLATE_BORDER      ;


$P_BUTTON_TEXT:         $P_TEMPLATE_HTEXT       ;
$P_BUTTON_HTEXT:        $P_TEMPLATE_TEXT        ;
$P_BUTTON_BACKGROUND:   transparent             ;
$P_BUTTON_HBACKGROUND:  $P_TEMPLATE_HTEXT       ;
$P_BUTTON_BORDER:       #fff                    ;
$P_BUTTON_HBORDER:      $P_TEMPLATE_BORDER      ;
